/*Grid*/
.container {
    width: 1000px;
    margin: auto;
}
.row {
    display: flex;
}
/*helper*/
.radius-25 {
    border-radius: 25px;
}

.bold {
    font-weight: bold;
}
.align-center {
    justify-content: center;
    align-items: center;
}
/* Reset*/
.classic-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.btn {
    border: none;
    cursor: pointer;
    outline: none;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
}